<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <img src="/img/logo-mercado-liebre.svg" alt="">
    <h4>Lugar para poner barra de busqueda</h4>
    <h4>Compra en cuotas y sin tarjeta de credito</h4>
    <header>
        <nav>
            <ul>

                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendas oficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
                <li><a href=" "></a></li>
                <li><a href="/crea tu cuenta">Creá tu cuenta</a></li>
                <li><a href="/ingresa">Ingresá</a></li>
                <li><a href="/mis compras"> Mis compras</a></li>

                <img src="/img/img-home-banner.jpg" alt="">
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Basado en tu ultima visita</h1>
        </section>

        <img src="/img/img-cafetera-moulinex.jpg" alt="">
        <p>
        <article> $6.770 </article>
        <article>40% OFF </article>
        <article><h3> Cafetera Moulinex </h3></p>
        </article>

        <img src="/img/img-macbook-pro-2019.jpg" alt="">
        <p>
        <article> $230.000 </article>
        <article> 20% off </article>
        <article> <h3> MacBook Pro 2019 </h3></p>
        </article>

        <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
        <p>
        <article>
         <article>   $70.500</article>
          <article> 10% off </article>
         <article> <h3>  Samsung Galaxy S10 </h3></article>
        </p>
        <img src="/img/img-tv-samsung-smart.jpg" alt="">
        <p>
            <article>$23.200</article> 
               <article> 5% off</article>
              <article> <h3>SmartTv Samsung 43"</h3></article>
        </p>
        <section> <h1>Sección de Ofertas</h1></section>
        <img src="/img/img-cafetera-moulinex.jpg" alt="">
        <p>
            <article>$6.770</article>
            <article>40% off</article>
            <article><h3>Cafetera Moulinex</h3></article>
        </p>
        <img src="/img/img-macbook-pro-2019.jpg" alt="">
       <p> <article> $230.000 </article>
        <article> 20% off </article>
        <article> <h3>MacBook Pro 2019</h3></p>
        </article>

    <img src="/img/img-samsung-galaxy-s10.jpg" alt="">
    <p>
         <article>   $70.500</article>
          <article> 10% off </article>
         <article>  <h3> Samsung Galaxy S10</h3></article>
        </p>
        <img src="/img/img-tv-samsung-smart.jpg" alt="">
        <p>
            <article>$23.200</article> 
               <article> 5% off</article>
              <article><h3> SmartTv Samsung 43"</h3></article>
        </p>

    </main>
    <footer>
        <article><h1> Pagá con tarjeta o en efectivo</h1>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p></article>
            <article><h1>Envío gratis desde $ 2.500</h1></article>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
                <article><h1>Seguridad, de principio a fin</h1>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p></article>
                    <h1>Copyright © 1999-2020 MercadoLiebre S.R.L.</h1>
    </footer>
</body>

</html>