<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/ingresa.css">
    <title>ingresa</title>
</head>
<body class="form_">
    <h1>ingresa</h1>
    <input  class="formulario-casillas" type="text" name="usuario" id="usuario" placeholder="usuario">
    <input class="formulario-casillas" type="password" name="password" id="password" placeholder="ingrese contraseña">
    <a href="/" class="boton" type="submit"> enviar</button> </a>

    
</body>
</html>