@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: var(--amarillo);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
body {
    font-family: var(--tipografiaRoboto);
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 100vw;


}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.home__descuento {
    font-size: var(--textDescuentos);
    color: var(--Verde);
}

.home__burguermenu__box {
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 100vw;
    border-radius: 20%;
}

.home__burguermenu__box i {
    background-color: var(--Celeste);
    color: white;
    border-radius: 10%;
    padding: 10px 10px 10px 10px;
}

.header__ul li {
    list-style: none;
}

.header__ul li a {
    text-decoration: none;

}

.header__article {
    font-size: 12px;
    list-style: none;
    text-decoration: none;

}

.home__cuotas {
    text-align: center;
    font-size: var(--textCuerposDeTexto);
    margin-top: 10px;
    margin-bottom: 20px;
}

.header__article h1 p {
    list-style: none;
    text-decoration: none;

}



.home__footer {
    text-align: center;
    background-color: white;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.home__footer__titulos{
    text-align: center;
    color: var(--GrisOscuro);
    margin: 0;
}

.home_footer_texto {
    text-align: center;
    color: var(--GrisOscuro);
    font-size: var(--textCuerposDeTexto);
    margin: 0;
    padding-bottom: 40px;
}

.home__footer_tex{
    text-align: left;
    color: var(--GrisOscuro);
    padding-bottom: 3px;
    margin-bottom: 0;
    font-size: var(--textCuerposDeTexto);
}

.home__logo {
    width: 8rem;
    margin: 1rem;
    padding-top: 1rem;
    padding-left: 0rem;
}

.home_producto_img {
    width: 100%;
}

.home__banner{
    width: 100%;
}

:host, :root {

    --amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
    --tipografiaRoboto: 'Roboto', sans-serif;
    --textCuerposDeTexto: 12px;
    --textTitulares_BasadoEnTuUltimaVisita: 24px;
    --textPrecios: 18px;
    --textDescuentos: 16px;
    --textDescripciones: 16px;
}

:host, :root {
    --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
}

:host, :root {
    --fa-style-family-brands: "Font Awesome 6 Brands";
    --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
}